# Fill in the addresses and ids of dependent services

CUELY_DEBUG=True
GDRIVE_API_CLIENT_ID=
GDRIVE_API_CLIENT_SECRET=
GITHUB_API_CLIENT_ID=
GITHUB_API_CLIENT_SECRET=
TRELLO_API_KEY=
TRELLO_API_SECRET=
ALGOLIA_APPLICATION_ID=
ALGOLIA_API_KEY=
ALGOLIA_API_SEARCH_KEY=
ALGOLIA_INDEX_NAME=
REDIS_ENDPOINT=redis
MYSQL_ENDPOINT=db
MYSQL_USER=cuely-backend
MYSQL_PASSWORD=cuely-backend-password
SEGMENT_KEY=
OPBEAT_APPLICATION_ID=
OPBEAT_TOKEN=
C_FORCE_ROOT=1
SECRET_KEY=
