Django==1.10
django-extensions
django-registration==2.1.2

algoliasearch-django==1.2.4
mysqlclient
requests-oauthlib
python-social-auth
ipython

django-bootstrap3

celery[redis]

google-api-python-client
python-dateutil==2.5.3
