Django==1.10
django-extensions
django-registration==2.1.2
opbeat==3.5.1

mysqlclient
django-mysql==1.1.0
sqlparse==0.2.2
ipython
django-bootstrap3
python-dateutil==2.5.3

celery[redis]==3.1.24

requests-oauthlib==0.7.0
python-social-auth==0.2.21

algoliasearch==1.11.0
# integrations
google-api-python-client==1.6.1
oauth2client==3.0.0
jira==1.0.7
PyGithub==1.31
cryptography==1.6
markdown==2.6.8
# github flavored markdown parser
py-gfm==0.1.3

git+git://github.com/pipetop/pypedriver@master#egg=pypedriver
git+git://github.com/pipetop/helpscout-api-python@master#egg=helpscout
git+git://github.com/pipetop/py-trello@master#egg=py-trello
