Django==1.10
django-extensions
django-registration==2.1.2
opbeat==3.5.1

mysqlclient
django-mysql==1.1.0
sqlparse==0.2.2
ipython
django-bootstrap3
python-dateutil==2.5.3

celery[redis]==3.1.24

requests-oauthlib==0.7.0
python-social-auth==0.2.21

# integrations
google-api-python-client==1.5.3
oauth2client==3.0.0
algoliasearch-django==1.2.4
jira==1.0.7
cryptography==1.6

git+git://github.com/pipetop/pypedriver@master#egg=pypedriver
git+git://github.com/pipetop/helpscout-api-python@master#egg=helpscout
git+git://github.com/pipetop/python-intercom@master#egg=python-intercom
