
{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="panel panel-default" style="width: 500px">
  <div class="panel-heading">Helpscout Docs API key</div>
  <div class="panel-body">
		<form action="/complete/helpscout-docs-apikeys">
			<input type="text" value="" placeholder="Docs API Key" name="api_key" required />
			<input type="submit" value="Save key">
		</form>
  </div>
</div>
{% else %}
Please log in!
{% endif %}

{% endblock %}
