
{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
{% if request.user.is_authenticated %}
<h2>Hello, {{request.user}}!</h2>
<hr />
<div class="panel panel-default" style="width: 500px">
  <div class="panel-heading">Manage integrations</div>
  <div class="panel-body">
    {% if "google-oauth2" not in backends %}
      <a class="btn btn-block btn-social btn-google" href="/login/google-oauth2/">
        <span class="fa fa-google"></span> Add Google Drive integration
      </a>
    {% else %}
      <a class="btn disabled btn-block btn-social btn-google" href="#">
        <span class="fa fa-google"></span> Google Drive integration is ready
      </a>
    {% endif %}

    {% if "intercom-apikeys" not in backends %}
      <a class="btn btn-block btn-social btn-reddit" href="/login/intercom-apikeys">
        <img src="{% static "frontend/intercom-logo.png" %}" style="padding: 3px">Add Intercom integration
      </a>
    {% else %}
      <a class="btn disabled btn-block btn-social btn-reddit" href="#">
        <img src="{% static "frontend/intercom-logo.png" %}" style="padding: 3px">Intercom integration is ready
      </a>
    {% endif %}

    {% if "pipedrive-apikeys" not in backends %}
      <a class="btn btn-block btn-social btn-vk" href="/login/pipedrive-apikeys">
        <img src="{% static "frontend/pipedrive-logo.png" %}" style="padding: 3px">Add Pipedrive integration
      </a>
    {% else %}
      <a class="btn disabled btn-block btn-social btn-vk" href="#">
        <img src="{% static "frontend/pipedrive-logo.png" %}" style="padding: 3px">Pipedrive integration is ready
      </a>
    {% endif %}

    {% if "helpscout-apikeys" not in backends %}
      <a class="btn btn-block btn-social btn-reddit" href="/login/helpscout-apikeys">
        <img src="{% static "frontend/helpscout-logo.png" %}" style="padding: 3px">Add Helpscout integration
      </a>
    {% else %}
      <a class="btn disabled btn-block btn-social btn-reddit" href="#">
        <img src="{% static "frontend/helpscout-logo.png" %}" style="padding: 3px">Helpscout integration is ready
      </a>
    {% endif %}

		{% if "helpscout-docs-apikeys" not in backends %}
			<a class="btn btn-block btn-social btn-reddit" href="/login/helpscout-docs-apikeys">
				<img src="{% static "frontend/helpscout-logo.png" %}" style="padding: 3px">Add Helpscout DOCS integration
			</a>
		{% else %}
			<a class="btn disabled btn-block btn-social btn-reddit" href="#">
				<img src="{% static "frontend/helpscout-logo.png" %}" style="padding: 3px">Helpscout DOCS integration is ready
			</a>
		{% endif %}

		{% if "jira-oauth" not in backends %}
			<a class="btn btn-block btn-social btn-reddit" href="/login/jira-oauth">
				<img src="{% static "frontend/jira-logo.png" %}" style="padding: 3px">Add JIRA integration
			</a>
		{% else %}
			<a class="btn disabled btn-block btn-social btn-reddit" href="#">
				<img src="{% static "frontend/jira-logo.png" %}" style="padding: 3px">JIRA integration is ready
			</a>
		{% endif %}

  </div>
</div>
{% else %}
Please log in!
{% endif %}

{% endblock %}
