{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<p>{% trans "We've sent you an email with password reset code, if an account exists with the email you entered. You should receive the email shortly." %}</p>
<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
<p>
<input type="text" id="reset_code" value="" placeholder="Copy the password reset code here" name="reset_code" size="50"/>
<br/>
<input type="button" value="Verify code" onclick="submitCode()"/>
</p>

<script>
function submitCode() {
	var input = document.getElementById("reset_code");
	location.href = "/reset/" + input.value;
}
</script>
{% endblock %}
